* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background: rgb(67, 83, 36);
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
}

div {
  margin: 0;
  height: 90vh;
  align-content: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: sticky;
  top: 0%;

  border: none;
  box-shadow: 0px 9px 20px 20px black;
}

h1 {
  text-align: center;
  color: white;
  font-size: 13vw;
  margin: 10px 2vw;
  font-family: "DM Serif Display", serif;
  font-weight: lighter;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2vmax;
  color: grey;
}

#content {
  background-color: cornsilk;

  flex-wrap: nowrap;

  justify-content: flex-start;
}

#content h1 {
  color: black;
  font-size: 6vmax;
}

#card-1 {
  background-color: #faa916;
}

#card-2 {
  background-color: #6d676e;
}
