* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background: rgb(67, 83, 36);
}

div {
  margin: 0;
  height: 90vh;
}

h1 {
  text-align: center;
  color: white;
  font-size: 8vmax;
  margin: 30vh 10vw;
  font-family: "Merriweather", serif;
}

#landing {
  align-content: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: 0.2s;
}

#scrolldown {
  background: none;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;

  padding-right: 60px;
  padding-left: 60px;

  margin-bottom: 90px;
  margin-top: auto;
}

#scrolldown img {
  width: auto;
  height: 10vh;
  background: transparent;
}

#spacer {
  height: 300vh;
}

#content {
  background-color: cornsilk;
}

#content h1 {
  color: black;
}
